<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Map Service (WMS)</name>
    <version>
      <name>${spec-version}</name>
      <suite>        <namespace-uri>http://www.opengis.net/wms</namespace-uri>
        <prefix>wms</prefix>
        <local-name>main</local-name>
        <title>WMS ${spec-version} Conformance Test Suite</title>
        <description>Checks WMS implementations for conformance to OGC 01-068r3.</description>
      </suite>
      <revision>
        <name>${project.version}</name>
        <sources>
          <source>wms/${spec-version}/ctl/main.xml</source>
        </sources>
        <webdir>wms/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
